{% extends "base.html" %}
{% block title %}
    Empecemos
{% endblock title %}
{% block container %}
        <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Bienvenido!</div>
          <div class="intro-heading text-uppercase">¿Listo para auditar?</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'audit:audits' %}">¡Empecemos!</a>
        </div>
      </div>
    </header>
{% endblock container %}