{% extends "base.html" %}
{% block title %}
    {{rule}}
{% endblock title %}
{% block container %}
    <div class="container">
    	<h1 class="mt-5 pt-5">{{rule}}</h1>
    	<h3>Selecciona la pregunta</h3>
    	<div class="row mt-5 justify-content-center">
    		<div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
    			<table class="table table-striped border">
    				<thead>
    					<tr>
    						<th>#</th>
    						<th>Title</th>
    						<th class="text-center">Action</th>
    					</tr>
    				</thead>
    				<tbody>
    					{% for numeral in numerals %}
	    					<tr>
	    						<th>{{numeral.numeral}}</th>
	    						<td>{{numeral.title}}</td>
	    						<td class="text-center"><a href="{% url 'audit:questions' rule.audit.pk rule.pk numeral.pk %}" class="btn btn-primary ">Ver preguntas</a></td>
	    					</tr>
    					{% endfor %}
    				</tbody>
    			</table>
    		</div>
    	</div>
    </div>
{% endblock container %}