{% extends "base.html" %}
{% load l10n %}
{% block title %}
    Resultados
{% endblock title %}
{% block container %}
<style>
	.progress{
		height: 1.6rem;
	}
</style>
<div class="container" style="margin-top: 5rem;">
    <div class="jumbotron text-center">
        <h1 class="text-uppercase">ESTADISTICAS</h1>
        <hr>
        <h5 class="">{{audit}}</h5>
    </div>
    	<div class="row justify-content-center mb-5">
    		<div class="col-sm-12 col-md-10 col-lg-8">
                <div class="table-responsive">
        			<table class="table table-striped border">
        				<thead>
        					<tr>
        						<th style="width:3rem"></th>
        						<th>Tipos de conflictos</th>
        						<th>Cantidad</th>
        						<th>Porcentaje</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<th class="bg-success rounded pt-1"><span></span></th>
        						<th>Sin novedad</th>
        						<td>{{questions.none}}</td>
        						<td>{{questions.none_percent|floatformat:1}}%</td>
        					</tr>
        					<tr>
        						<th class="bg-warning rounded"></th>
        						<th>Observaciones</th>
        						<td>{{questions.observation}}</td>
        						<td>{{questions.observation_percent|floatformat:1}}%</td>
        					</tr>
        					<tr>
        						<th class="bg-danger rounded"></th>
        						<th>Hallazgos</th>
        						<td>{{questions.find}}</td>
        						<td>{{questions.find_percent|floatformat:1}}%</td>
        					</tr>
        					<tr>
        						<th class="bg-secondary rounded"></th>
        						<th>Preguntas sin responder</th>
        						<td>{{questions.unanswered_questions}}</td>
        						<td>{{questions.unanswered_percent|floatformat:1}}%</td>
        					</tr>
        					<tr>
        						<th></th>
        						<th>Total preguntas</th>
        						<td>{{questions.total}}</td>
        						<td>100%</td>
        					</tr>
        				</tbody>
        			</table>
                </div>
        			<div class="progress mt-3">
    				  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="questionNonePercent" aria-valuenow="{{questions.none_percent}}" aria-valuemin="0" aria-valuemax="100"></div>
    				  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" id="questionObservationPercent" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    				  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" id="questionFindPercent" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    				  <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" id="unansweredPercent" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    				</div>
    		</div>
    	</div>
    </div>
    <script>
    window.onload = function loadPercents() {
    	document.getElementById('questionNonePercent').style.width='{{questions.none_percent|unlocalize}}%';
    	document.getElementById('questionObservationPercent').style.width='{{questions.observation_percent|unlocalize}}%';
    	document.getElementById('questionFindPercent').style.width='{{questions.find_percent|unlocalize}}%';
    	document.getElementById('unansweredPercent').style.width='{{questions.unanswered_percent|unlocalize}}%';
    };
    </script>
{% endblock container %}