{% extends "base.html" %}
{% block title %}
    {{audit}}
{% endblock title %}
{% block container %}
<div class="container">
	<h1 class="mt-5 pt-5">{{audit}}</h1>
	<h3>Selecciona la norma a auditar</h3>
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 mt-5 	">
	    <table class="table table-striped border">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Rule title</th>
			      <th class="text-center">action</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for rule in rules %}
				    <tr>
				      <th scope="row">{{rule.rule_name}}</th>
				      <td>{{rule.rule_title}}</td>
				      <td class="text-center"><a href="{% url 'audit:numerals' audit.pk rule.pk %}" class="btn btn-primary">Revisar</a></td>
				    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>
{% endblock container %}	